<div id="app-library" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content" class="d-flex flex-column">
      <div purpose="search-and-headline" class="d-flex flex-md-row flex-column justify-content-between align-items-md-center">
        <div purpose="page-title" class="d-flex flex-column">
          <h1>App library</h1>
          <p>Install Fleet-maintained apps on your hosts without the need for additional configuration. Activate self-service for your end users.</p>
        </div>
<!--         <div purpose="app-search" id="docsearch-query" class="d-flex">
          <div purpose="disabled-search" class="d-flex w-100">
            <div class="input-group d-flex flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text border-0 bg-transparent" >
                  <img style="height: 16px; width: 16px;" class="search" alt="search" src="/images/icon-search-16x16@2x.png">
                </span>
              </div>
              <div class="form-control border-0 ">
              <input class="docsearch-input pr-1"
                placeholder="Search" aria-label="Search"
                />
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div purpose="count-and-cta" class="d-flex flex-sm-row flex-column align-items-sm-center align-items-start justify-content-sm-between justify-content-center mb-3">
        <div><p class="mb-0"><strong>{{allApps.length}} and counting....</strong></p></div>
        <div class="d-sm-block d-none">
          <a purpose="request-button" href="https://github.com/fleetdm/fleet/edit/main/server/mdm/maintainedapps/apps.json" target="_blank">Request an app</a>
        </div>
      </div>
      <div purpose="app-cards" class="card-deck flex-wrap">
        <% for(let app of allApps) { %>

          <a href="/app-library/<%- app.identifier %>" purpose="app-card" class="card d-flex">
            <div class="d-flex flex-row align-items-center justify-content-start">
              <div purpose="app-icon">
                <img alt="<%- app.name %> icon" src="/images/app-icon-<%- app.identifier %>-60x60@2x.png">
              </div>
              <div class="flex-column">
                <h4><%- app.name %></h4>
                <p purpose="app-version" class="mb-0">
                  <%- app.version %>
                </p>
              </div>
            </div>
          </a>
        <% } %>
        <div purpose="app-card" class="card d-flex invisible"></div>
      </div>
      <div class="d-flex d-sm-none w-100">
        <a purpose="request-button" href="https://github.com/fleetdm/fleet/edit/main/server/mdm/maintainedapps/apps.json" target="_blank">Request an app</a>
      </div>
      <div purpose="feature-cards" class="d-flex flex-md-row flex-column">
        <div purpose="feature-card" class="d-flex flex-md-row flex-column">
          <div>
            <img alt="Custom packages" src="/images/icon-custom-package-64x64@2x.png">
          </div>
          <div class="d-flex flex-column">
            <h3>Custom Packages</h3>
            <p>Upload any third-party software as a custom package to deploy all of the tools your end users need to work.</p>
          </div>
        </div>
        <div purpose="feature-card" class="d-flex flex-md-row flex-column">
          <div>
            <img alt="App store" src="/images/icon-app-store-63x64@2x.png">
          </div>
          <div class="d-flex flex-column">
            <h3>App store</h3>
            <p>Manage app deployments and updates for your computers and mobile devices from any app store.</p>
            <p purpose="feature-footnote">*Microsoft Store and Google Play coming soon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
