<div id="pricing" v-cloak>
  <div purpose="page-content" class="container-fluid mx-auto">
    <div class="px-0 d-flex flex-column justify-content-center pt-5 mx-auto">
      <div purpose="hero-text">
        <h2 class="text-center mb-5">
          Compare plans and pricing
        </h2>
      </div>
      <div purpose="pricing-tiers" class="d-flex flex-column flex-lg-row justify-content-center">
        <%// Fleet Free tier card %>
        <div purpose="pricing-card">
        <div purpose="free-tier-card" class="card d-flex flex-column h-100  justify-content-between">
          <div purpose="pricing-tier-title">
            <div class="d-flex flex-row justify-content-start">
              <div class="d-flex flex-column justify-content-between">
                <h2>Free</h2>
                <h3>Unlimited hosts</h3>
                <div purpose="tier-price" class="d-flex flex-row align-items-center">
                  <h1><span purpose="price-dollar-sign">$</span>0</h1><strong>/ host <br purpose="premium-price-linebreak">/ month</strong>
                </div>
              </div>
            </div>
          </div>
          <div purpose="button-container" class="d-flex flex-row align-items-center">
            <a purpose="animated-arrow-button-red" href="/docs">
              Read the docs
            </a>
          </div>
        </div>
        </div>
        <%// Fleet Premium tier card %>
        <div purpose="pricing-card" class="d-flex flex-column justify-content-center">
          <div purpose="premium-tier-card" class="card d-flex h-100 flex-column justify-content-between">
            <div purpose="pricing-tier-title">
              <div class="d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-start">
                  <h2>Premium</h2>
                  <h3>Unlimited baselines</h3>
                  <div purpose="tier-price" class="d-flex flex-row align-items-center justify-content-start">
                    <h1><span purpose="price-dollar-sign">$</span>7.00</h1><strong>/ host <br purpose="premium-price-linebreak">/ month</strong>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a purpose="card-button" class="btn btn-block btn-lg btn-primary mx-auto mb-0" href="/register">Get started</a>
            </div>
          </div>
        </div>
        <%//  Custom tier card %>
        <div purpose="pricing-card" class="d-flex flex-column justify-content-center">
          <div purpose="custom-tier-card" class="card d-flex h-100 flex-column justify-content-between">
            <div purpose="pricing-tier-title">
              <div class="d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center">
                  <h2>Custom</h2>
                  <h3>For teams with extremely large deployments.</h3>
                </div>
              </div>
            </div>
            <div>
              <a purpose="card-button" class="btn btn-block btn-lg btn-primary mx-auto mb-0" href="/contact">Talk to us</a>
            </div>
          </div>
        </div>
      </div>
      <div purpose="pricing-switch" class="d-flex flex-md-row flex-column justify-content-between mx-auto">
        <div purpose="pricing-switch-option" class="all" :class="[pricingMode === 'all' ? 'selected' : '']" @click="clickChangePricingMode('all')">All features</div>
        <div purpose="pricing-switch-option" class="jamf" :class="[pricingMode === 'jamf-comparison' ? 'selected' : '']" @click="clickChangePricingMode('jamf-comparison')">Jamf comparison</div>
        <div purpose="pricing-tier-switch" :class="pricingMode+'-selected'"></div>
      </div>
    </div>
    <%// All features %>
    <div purpose="features-table" class="d-flex flex-column justify-content-center mx-auto px-0 " :class="[[pricingMode === 'all' ? 'show' : 'hide']]">
      <div class="d-flex flex-column justify-content-center p-0">
        <%// Desktop features tables %>
        <div class="d-none d-md-block">
          <% for(let category of pricingTable) {%>
            <table purpose="pricing-categories-table" class="table">
             <thead>
                <tr>
                  <td><h4><%- category.categoryName %></h4></td>
                  <%if(pricingTable.indexOf(category) === 0) {%>
                  <td class="text-center">
                    <strong>Free</strong>
                  </td>
                  <%}else {%>
                  <td ></td>
                  <%}%>
                  <%if(pricingTable.indexOf(category) === 0) {%>
                  <td class="text-center">
                    <strong>Premium</strong>
                  </td>
                  <%}else {%>
                  <td ></td>
                  <%}%>
                </tr>
              </thead>
              <tbody>
                <% for( let feature of category.features){ %>
                  <tr>
                    <%if(feature.description && feature.documentationUrl) {%>
                    <td purpose="feature-name"><%- feature.name %><%- feature.comingSoon ? '*' : '' %><a href="<%- feature.documentationUrl %>" target="_blank"><img class="d-inline has-link" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info" data-toggle="tooltip" tabindex="0" data-placement="top" data-html="true" title="<p><%= feature.description +'</p>'+ [feature.documentationUrl ? '<u>Click to learn more</u>' : ''] %> "></a></td>
                    <% } else if(feature.description) {%>
                      <td purpose="feature-name"><%- feature.name %><%- feature.comingSoon ? '*' : '' %><img class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info" data-toggle="tooltip" tabindex="0" data-placement="top" data-html="true" title="<%= feature.description %> "></td>
                    <% } else {%>
                      <td purpose="feature-name"><%- feature.name %><%- feature.comingSoon ? '*' : '' %></td>
                    <% } %>
                    <%if(feature.tier === 'Free') {%>
                      <td purpose="table-checkmark"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></td>
                    <%} else {%>
                      <td purpose="table-checkmark"></td>
                    <%}%>
                    <td purpose="table-checkmark"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></td>
                  </tr>
                <% }%>
              </tbody>
            </table>
          <% }%>
          <p style="color: #515774;" class="mb-0 w-100">* Coming soon</p>
        </div>
        <%// Mobile features tables %>
        <div purpose="mobile-feature-table-section" class="d-block d-md-none" v-for="category in pricingTable">
          <h4>{{category.categoryName}}</h4>
            <div purpose="mobile-features-table" class="d-flex flex-column" v-for="feature in category.features">
              <div purpose="striped-row" class="d-flex flex-row justify-content-between align-items-center">
                <strong class="d-block">
                  {{feature.name}}{{feature.comingSoon ? '*' : ''}}
                </strong>
                <img class="d-block" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info" @click="clickOpenMobileTooltip(feature)" v-if="feature.description">
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                Free
                <img class="d-block" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png" v-if="feature.tier === 'Free'">
              </div>
              <div purpose="striped-row" class="d-flex flex-row justify-content-between align-items-center">
                Premium
                <img class="d-block" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
            </div>
          </div>
          <p style="color: #515774;" class="d-block d-md-none mb-0 w-100">* Coming soon</p>
      </div>
    </div>
    <%// Jamf features comparison table %>
    <p purpose="comparison-table-note" v-if="pricingMode === 'jamf-comparison'">Considering a move to Fleet as a cross-platform, open-source alternative to Jamf? See how we compare:</p>
    <div purpose="features-table" class="d-flex flex-column justify-content-center mx-auto px-0" :class="[[pricingMode === 'jamf-comparison' ? 'visible' : 'hidden']]">
      <div class="d-flex flex-column justify-content-center p-0">
        <%// Desktop feature comparison table %>
        <div class="d-none d-md-block">
          <% for(let category of pricingTable) {%>
            <table purpose="pricing-categories-table" class="table">
             <thead>
                <tr>
                  <td><h4><%- category.categoryName %></h4></td>
                  <%if(pricingTable.indexOf(category) === 0) {%>
                  <td class="text-center">
                    <strong>Fleet</strong>
                  </td>
                  <%}else {%>
                  <td ></td>
                  <%}%>
                  <%if(pricingTable.indexOf(category) === 0) {%>
                  <td class="text-center">
                    <strong>Jamf Pro</strong>
                  </td>
                  <%}else {%>
                  <td ></td>
                  <%}%>
                  <%if(pricingTable.indexOf(category) === 0) {%>
                  <td class="text-center">
                    <strong>Jamf Protect</strong>
                  </td>
                  <%}else {%>
                  <td ></td>
                  <%}%>
                </tr>
              </thead>
              <tbody>
                <% for( let feature of category.features){ %>
                  <% if(typeof feature.jamfProHasFeature === 'undefined'){ continue;} %>
                  <tr>
                    <%if(feature.description && feature.documentationUrl) {%>
                    <td purpose="feature-name"><%- feature.name %><%- feature.comingSoon ? '*' : '' %><a href="<%- feature.documentationUrl %>" target="_blank"><img class="d-inline has-link" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info" data-toggle="tooltip" tabindex="0" data-placement="top" data-html="true" title="<p><%= feature.description +'</p>'+ [feature.documentationUrl ? '<u>Click to learn more</u>' : ''] %> "></a></td>
                    <% } else if(feature.description) {%>
                      <td purpose="feature-name"><%- feature.name %><%- feature.comingSoon ? '*' : '' %><img class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info" data-toggle="tooltip" tabindex="0" data-placement="top" data-html="true" title="<%= feature.description %> "></td>
                    <% } else {%>
                      <td purpose="feature-name"><%- feature.name %><%- feature.comingSoon ? '*' : '' %></td>
                    <% } %>
                    <td purpose="table-checkmark"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></td>
                    <% if(feature.jamfProHasFeature === 'yes') {%>
                      <td purpose="table-checkmark"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></td>
                    <% } else if(feature.jamfProHasFeature === 'macOnly') { %>
                      <td purpose="table-checkmark"><img class="mx-auto" alt="Apple logo" purpose="checkmark" src="/images/os-macos-black-50-16x16@2x.png"></td>
                    <% } else if(feature.jamfProHasFeature === 'cloudOnly') {%>
                      <td purpose="table-checkmark">Cloud only</td>
                    <% } else {%>
                      <td purpose="table-checkmark"></td>
                    <% } %>

                    <% if(feature.jamfProtectHasFeature === 'yes') {%>
                      <td purpose="table-checkmark"><img class="mx-auto" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png"></td>
                    <% } else if(feature.jamfProtectHasFeature === 'macOnly') { %>
                      <td purpose="table-checkmark"><img class="mx-auto" alt="Apple logo" purpose="checkmark" src="/images/os-macos-black-50-16x16@2x.png"></td>
                    <% } else if(feature.jamfProtectHasFeature === 'cloudOnly') {%>
                      <td purpose="table-checkmark">Cloud only</td>
                    <% } else {%>
                      <td purpose="table-checkmark"></td>
                    <% } %>
                  </tr>
                <% }%>
              </tbody>
            </table>
          <% }%>
          <p style="color: #515774;" class="mb-0 w-100">* Coming soon</p>
        </div>
        <%// Mobile feature comparison tables %>
        <div purpose="mobile-feature-table-section" class="d-block d-md-none" v-for="category in pricingTable">
          <h4>{{category.categoryName}}</h4>
            <div purpose="mobile-features-table" class="d-flex flex-column" v-for="feature in category.features" v-if="typeof feature.jamfProHasFeature !== 'undefined'">
              <div purpose="striped-row" class="d-flex flex-row justify-content-between align-items-center" >
                <strong>
                  {{feature.name}}{{feature.comingSoon ? '*' : ''}}
                  <img class="d-inline" purpose="tooltip-icon" src="/images/icon-more-info-14x14@2x.png" alt="More info" @click="clickOpenMobileTooltip(feature)" v-if="feature.description">
                </strong>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center">
                Fleet
                <img class="d-block" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png">
              </div>
              <div purpose="striped-row" class="d-flex flex-row justify-content-between align-items-center">
                Jamf Pro
                <img class="d-block" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png" v-if="feature.jamfProHasFeature === 'yes'">
                <img class="d-block"  alt="Apple logo" purpose="checkmark" src="/images/os-macos-black-50-16x16@2x.png" v-else-if="feature.jamfProHasFeature === 'macOnly'">
                <span class="d-block" purpose="table-comparison-note" v-else-if="feature.jamfProHasFeature === 'cloudOnly'">Cloud only</span>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center" purpose="comparison-">
                Jamf Protect
                <img class="d-block" alt="checkmark" purpose="checkmark" src="/images/icon-checkmark-green-16x16@2x.png" v-if="feature.jamfProtectHasFeature === 'yes'">
                <img class="d-block"  alt="Apple logo" purpose="checkmark" src="/images/os-macos-black-50-16x16@2x.png" v-else-if="feature.jamfProtectHasFeature === 'macOnly'">
                <span class="d-block" purpose="table-comparison-note" v-else-if="feature.jamfProtectHasFeature === 'cloudOnly'">Cloud only</span>
              </div>
            </div>
          </div>
          <p style="color: #515774;" class="d-block d-md-none mb-0 w-100">* Coming soon</p>
      </div>
    </div>

    <%// Bottom call to action %>
    <div purpose="bottom-cta" class="d-block mx-auto">
      <h2 class="text-center">Questions?</h2>
      <p class="text-center">We have answers to the most <a href="https://fleetdm.com/docs/get-started/faq">commonly asked questions</a>.</p>
      <div class="d-flex flex-column flex-sm-row flex-nowrap btn-toolbar justify-content-center align-items-center" style="text-align: center" >
        <a purpose="chat-button" style="max-width: 160px" class="mx-auto justify-self-center btn btn-block btn-md btn-primary mx-sm-2" href="/contact">
          Talk to us
        </a>
        <a class="btn btn-block btn-lg btn-white" purpose="cta-button" href="/docs">
          Read the docs
        </a>
      </div>
    </div>
  </div>
  <modal purpose="mobile-tooltip" v-if="modal === 'mobileTooltip'" @close="closeModal()">
    <div>
      <p class="mb-0">{{selectedFeature.description}}</p>
      <a :href="selectedFeature.documentationUrl" target="_blank" v-if="selectedFeature.documentationUrl">Learn more</a>
    </div>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
