<div id="query-detail" v-cloak>
  <div purpose="page-container">
    <div purpose="page-content">
      <docs-nav-and-search search-filter="queries" current-section="queries" :algolia-public-key="algoliaPublicKey"></docs-nav-and-search>
      <div purpose="breadcrumbs" class="d-flex flex-row align-items-start">
        <div>
          <a purpose="breadcrumbs-category" class="text-nowrap" href="/queries">Queries</a>/
        </div>
        <div purpose="breadcrumbs-title">
          <span><%- query.name %></span>
        </div>
      </div>
      <div purpose="query-details-and-sidebar" class="d-flex flex-lg-row flex-column">
        <div purpose="query-details" class="d-flex flex-column">
          <h2 purpose="query-name"><%- query.name %></h2>
          <div purpose="query-attribution">
            <img alt="Contributor's GitHub profile picture" purpose="contributor-profile-picture" src="https://github.com/<%- query.contributors[0].handle %>.png?size=200">
            <a purpose="query-link" href="https://github.com/<%- query.contributors[0].handle %>" class="d-flex align-items-center">
            <p purpose="contributor-profile-name" class="mb-0"><%= query.contributors[0].name %></p></a>
          </div>
          <p purpose="query-description"><%- query.description %></p>
          <div purpose="query-check">
            <p>To learn more about queries, <a href="/guides/queries">check this guide</a></p>
            <div purpose="codeblock">
              <div purpose="copy-button"></div>
              <pre><code class="hljs sql"><%- query.query %></code></pre>
            </div>
          </div>
        </div>
        <div purpose="sidebar-container">
          <div purpose="right-sidebar" class="d-flex flex-column">
            <div purpose="query-platform">
              <h4>Platform</h4>
              <div class="d-flex flex-row">
                <img src="/images/os-macos-dark-24x24@2x.png" alt="macOS" v-if="query.platform.includes('darwin')"/>
                <img src="/images/os-windows-dark-24x24@2x.png" alt="Windows" v-if="query.platform.includes('windows')"/>
                <img src="/images/os-linux-dark-24x24@2x.png" alt="Linux" v-if="query.platform.includes('linux')"/>
                <img src="/images/os-chromeos-dark-24x24@2x.png" alt="ChromeOS" v-if="query.platform.includes('chrome')"/>
              </div>
            </div>
            <div purpose="social-share-buttons" class="d-flex flex-column order-lg-2 order-1">
              <p><strong>Share</strong></p>
              <div class="d-flex flex-row">
                <a :href="`https://news.ycombinator.com/submitlink?u=https://fleetdm.com/queries/${encodeURIComponent(query.slug)}&t=${encodeURIComponent(query.name)}`"><img src="/images/social-share-icon-hacker-news-20x20@2x.png" alt="Share this article on Hacker News"></a>
                <a :href="`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent('https://fleetdm.com/queries/'+query.slug)}`"><img src="/images/social-share-icon-linkedin-20x20@2x.png" alt="Share this article on LinkedIn"></a>
                <a :href="`https://twitter.com/intent/tweet?url=${encodeURIComponent('https://fleetdm.com/queries/'+query.slug)}`"><img src="/images/social-share-icon-twitter-20x20@2x.png" alt="Share this article on Twitter"></a>
              </div>
            </div>
            <div purpose="docs-links" class="order-3">
              <a purpose="sidebar-link" :href="'https://github.com/fleetdm/fleet/edit/main/'+queryLibraryYmlRepoPath"> <img src="/images/icon-edit-16x16@2x.png" alt="Suggest an edit">Suggest an edit</a>
              <a purpose="sidebar-link" href="/contact"><img alt="Talk to an engineer" src="/images/icon-contact-16x16@2x.png">Talk to us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
