<div id="basic-comparison" v-cloak>
  <div purpose="page-container" class="container-fluid">
    <div purpose="article-title-and-image">
      <div purpose="article-title">
        <h4><%= thisPage.meta.articleSubtitle%></h4>
        <h1><%=thisPage.meta.articleTitle %></h1>
        <p><%= thisPage.meta.introductionTextBlockOne%></p>
        <%if(thisPage.meta.introductionTextBlockTwo){%><p class="mb-0"><%= thisPage.meta.introductionTextBlockTwo%></p><% } %>
      </div>
      <div purpose="hero-image">
        <img alt="Hero image" src="/images/comparison-page-hero-504x349@2x.png">
      </div>
    </div>
    <div purpose="article-and-sidebar">
      <div purpose="sidebar-container">
        <div purpose="right-sidebar" class="d-flex flex-column">
          <div purpose="subtopics" id="subtopics" class="d-flex nav flex-column" v-if="subtopics.length > 0">
            <p><strong>On this page</strong></p>
            <a purpose="sidebar-link" v-for="topic in subtopics" :href="topic.url" class="nav-link p-0">{{topic.title}}</a>
          </div>
          <div purpose="edit-link">
            <a purpose="sidebar-link" :href="'https://github.com/fleetdm/fleet/tree/website-add-comparison-template-and-page/articles/'+thisPage.sectionRelativeRepoPath"> <img alt="A pencil icon" src="/images/pencil-16x16@2x.png">Edit page</a>
          </div>
        </div>
      </div>
      <div purpose="article-container">
        <div purpose="article-content" parasails-has-no-page-script>
          <%- partial(path.relative(path.dirname(__filename), path.resolve( sails.config.appPath, path.join(sails.config.builtStaticContent.compiledPagePartialsAppPath, thisPage.htmlId)))) %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
