<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h2>New deal registration</h2>

<div style="margin-bottom: 48px">
  <h3>Submitter information</h3>
  <p style="margin-bottom: 25px;"><strong>Name:</strong> <%= submittersFirstName %> <%= submittersLastName %></p>
  <p style="margin-bottom: 25px;"><strong>Email address:</strong> <%= submittersEmailAddress %></p>
  <p><strong>Organization:</strong> <%= submittersOrganization %></p>
  <p><strong>Submitter is an existing partner:</strong> <%= submitterIsExistingPartner %></p>
</div>
<hr>
<div style="margin-bottom: 48px">
  <h3>Customer information</h3>
  <p style="margin-bottom: 25px;"><strong>Name:</strong> <%= customersName %></p>
  <p style="margin-bottom: 25px;"><strong>Email address:</strong> <%= customersEmailAddress %></p>
  <p><strong>Organization:</strong> <%= customersOrganization %></p>
</div>
<hr>
<div style="margin-bottom: 48px">
  <h3>Deal information</h3>
  <p style="margin-bottom: 25px;"><strong>Deal stage</strong> <%= dealStage %></p>
  <p style="margin-bottom: 25px;"><strong>Expected close:</strong> <%= expectedClose %></p>
  <p style="margin-bottom: 25px;"><strong>Number of hosts:</strong> <%= numberOfHosts %></p>
  <p style="margin-bottom: 25px;"><strong>Platforms:</strong> <%- platforms %></p>
  <p style="margin-bottom: 25px;"><strong>Use case(s):</strong> <%- useCase %></p>
  <p style="margin-bottom: 25px;"><strong>Notes:</strong> <%= notes %></p>
</div>


