<% /* Default layout for email templates */ %>
<div style="width: 100%; font-family: 'Inter','Helvetica','arial', sans-serif; box-sizing: border-box; padding: 0; margin: 0;">
  <div style="color: #192147; font-size: 16px; box-sizing: border-box; padding: 40px 60px 80px 28px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
    <div style="background: transparent; text-align: left;">
      <a href="https://fleetdm.com"><img style="display: inline-block; width: 162px; height: 92px; width: auto;" alt="Logo" src="https://fleetdm.com/images/logo-email-162x92@2x.png"/></a>
    </div>
    <div style="padding: 0px 0px 0px 22px;">
      <%- body %>
      <hr style="color: #E2E4EA;"/>
      <div style="display:  inline-flex; padding-top: 32px;">
        <a href="https://fleetdm.com"><img style="height: 20px; width: 20px; margin-right: 24px;" alt="Fleet logo" src="<%= url.resolve(sails.config.custom.baseUrl,'/images/logo-fleet-20x20@2x.png')%>"></a>
        <a href="https://twitter.com/fleetctl"><img style="height: 20px; width: 24px; margin-right: 24px;" alt="Follow Fleet on Twitter" src="<%= url.resolve(sails.config.custom.baseUrl,'images/logo-twitter-50x44@2x.png')%>"></a>
        <a href="https://fleetdm.com/slack"><img style="height: 20px; width: 20px;" alt="Join the osquery Slack community" src="<%= url.resolve(sails.config.custom.baseUrl,'images/logo-slack-24x24@2x.png')%>"></a>
      </div>
      <div style="text-align: left; padding-top: 15px; font-size: 12px; color: #3E4771;">
        <p>© <%= (new Date()).getFullYear() %> Fleet Inc.<br> All trademarks, service marks, and company names are the property of their respective owners.</p>
      </div>
    </div>
  </div>
</div>
