<div id="basic-article" v-cloak>
  <div purpose="page-container" class="container-fluid">
    <div purpose="breadcrumbs-and-search" class="flex-lg-row flex-column justify-content-between align-items-lg-center align-items-start" :class="[['articles', 'releases', 'guides', 'announcements'].includes(articleCategorySlug) ? 'hidden-on-mobile' : '']">
      <div purpose="breadcrumbs" class="d-flex flex-row align-items-start">
        <div>
          <a purpose="breadcrumbs-category" :href="'/'+articleCategorySlug">{{categoryFriendlyName}}</a>/
        </div>
        <div purpose="breadcrumbs-title">
          <span>{{thisPage.meta.articleTitle}}</span>
        </div>
      </div>
      <div purpose="search" id="docsearch-query" class="d-flex">
        <div purpose="disabled-search" class="d-flex w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text border-0 bg-transparent pl-3" >
                <img style="height: 16px; width: 16px;" class="search" alt="search" src="/images/icon-search-16x16@2x.png">
              </span>
            </div>
            <div class="form-control border-0 ">
            <input class="docsearch-input pr-1"
              placeholder="Search" aria-label="Search the handbook"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div purpose="article-and-sidebar" class="d-flex flex-lg-row-reverse flex-column justify-content-lg-between">
      <div purpose="article-title-and-author" class="d-lg-none d-block">
        <div purpose="article-title" :class="[['articles', 'releases', 'guides', 'announcements'].includes(articleCategorySlug) ? 'pt-0' : '']">
          <h1><%=thisPage.meta.articleTitle %></h1>
          <h2 v-if="articleHasSubtitle && articleSubtitle !== undefined">{{articleSubtitle}}</h2>
        </div>
        <div class="d-flex flex-sm-row flex-column justify-content-between align-items-sm-center">
          <div purpose="article-details" class="d-flex align-items-sm-center">
            <span><js-timestamp format="billing" :at="thisPage.meta.publishedOn"></js-timestamp></span>
            <a v-if="showLastUpdated" purpose="last-updated" :href="'https://github.com/fleetdm/fleet/commits/main/articles/'+thisPage.sectionRelativeRepoPath" target="_blank">· Updated <js-timestamp format="billing" :at="thisPage.lastModifiedAt"></js-timestamp></a>
            <span  purpose="divider" class="px-2">|</span>
            <% if(articleCategorySlug !== 'customers') { %>
              <div purpose="article-author" class="d-flex flex-row align-items-center">
                <img style="height: 28px; width: 28px; border-radius: 100%;" alt="The author's GitHub profile picture" :src="'https://github.com/'+thisPage.meta.authorGitHubUsername+'.png?size=200'">
                <p class="pl-2 font-weight-bold"><%=thisPage.meta.authorFullName %></p>
              </div>
            <% } %>
          </div>

        </div>
      </div>

      <div purpose="sidebar-container" :class="[['articles', 'releases', 'guides', 'announcements'].includes(articleCategorySlug) ? 'mobile-nav' : '']">
        <div purpose="right-sidebar" class="d-flex">
          <div purpose="social-share-buttons" class="d-flex flex-column order-lg-2 order-1">
            <p><strong>Share</strong></p>
            <div class="d-flex flex-row">
              <a :href="`https://news.ycombinator.com/submitlink?u=https://fleetdm.com${encodeURIComponent(thisPage.url)}&t=${encodeURIComponent(thisPage.meta.articleTitle)}`"><img src="/images/social-share-icon-hacker-news-20x20@2x.png" alt="Share this article on Hacker News"></a>
              <a :href="`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent('https://fleetdm.com'+thisPage.url)}`"><img src="/images/social-share-icon-linkedin-20x20@2x.png" alt="Share this article on LinkedIn"></a>
              <a :href="`https://twitter.com/intent/tweet?url=${encodeURIComponent('https://fleetdm.com'+thisPage.url)}`"><img src="/images/social-share-icon-twitter-20x20@2x.png" alt="Share this article on Twitter"></a>
            </div>
          </div>
          <div purpose="edit-link" class="d-lg-none">
            <a purpose="sidebar-link" :href="'https://github.com/fleetdm/fleet/edit/main/articles/'+thisPage.sectionRelativeRepoPath"> <img src="/images/icon-edit-16x16@2x.png" alt="Suggest an edit">Suggest an edit</a>
          </div>
          <div purpose="subtopics" id="subtopics" class="nav flex-column order-lg-1 order-2" v-if="subtopics.length > 0">
            <p><strong>On this page</strong></p>
            <a purpose="sidebar-link" v-for="topic in subtopics" :href="topic.url" class="nav-link p-0">{{topic.title}}</a>
          </div>
          <div purpose="docs-links" class="order-3">
            <a purpose="sidebar-link" href="/docs"><img alt="Docs" src="/images/icon-docs-16x16@2x.png"> Docs</a>
            <a purpose="sidebar-link" href="/docs/rest-api"><img alt="REST API" src="/images/icon-api-16x16@2x.png"> REST API</a>
            <a purpose="sidebar-link" href="/guides"><img alt="Guides" src="/images/icon-guides-16x16@2x.png"> Guides</a>
            <a purpose="sidebar-link" href="/contact"><img alt="Get a demo" src="/images/icon-contact-16x16@2x.png">Get a demo</a>
            <div purpose="edit-link">
              <a purpose="sidebar-link" :href="'https://github.com/fleetdm/fleet/edit/main/articles/'+thisPage.sectionRelativeRepoPath"> <img src="/images/icon-edit-16x16@2x.png" alt="Suggest an edit">Suggest an edit</a>
            </div>
          </div>

        </div>
      </div>
      <div purpose="article-container">
        <div purpose="article-title-and-author" class="d-none d-lg-block">
          <div purpose="article-title">
            <h1><%=thisPage.meta.articleTitle %></h1>
            <h2 v-if="articleHasSubtitle && articleSubtitle !== undefined">{{articleSubtitle}}</h2>
          </div>
          <div class="d-flex flex-sm-row flex-column justify-content-between align-items-sm-center">
            <div purpose="article-details" class="d-flex flex-row align-items-center">
              <span><js-timestamp format="billing" :at="thisPage.meta.publishedOn"></js-timestamp></span>
              <a v-if="showLastUpdated" purpose="last-updated" :href="'https://github.com/fleetdm/fleet/commits/main/articles/'+thisPage.sectionRelativeRepoPath" target="_blank">· Updated <js-timestamp format="billing" :at="thisPage.lastModifiedAt"></js-timestamp></a>
              <% if(articleCategorySlug !== 'customers') { %>
                <span class="px-2">|</span>
                <img style="height: 28px; width: 28px; border-radius: 100%;" alt="The author's GitHub profile picture" :src="'https://github.com/'+thisPage.meta.authorGitHubUsername+'.png?size=200'">
                <p class="pl-2 font-weight-bold"><%=thisPage.meta.authorFullName %></p>
              <% } %>
            </div>
          </div>
        </div>
        <div purpose="article-content" parasails-has-no-page-script>
          <%- partial(path.relative(path.dirname(__filename), path.resolve( sails.config.appPath, path.join(sails.config.builtStaticContent.compiledPagePartialsAppPath, thisPage.htmlId)))) %>

          <div purpose="about-fleet-section" v-if="articleCategorySlug === 'customers'">
            <h2>About Fleet</h2>

            <p>Fleet is the single endpoint management platform for macOS, iOS, Android, Windows, Linux, ChromeOS, and cloud infrastructure. Trusted by over 1,300 organizations, Fleet empowers IT and security teams to accelerate productivity, build verifiable trust, and optimize costs.</p>

            <p>By bringing infrastructure-as-code (IaC) practices to device management, Fleet ensures endpoints remain secure and operational, freeing engineering teams to focus on strategic initiatives.</p>

            <p>Fleet offers total deployment flexibility: on-premises, air-gapped, container-native (Docker and Kubernetes), or cloud-agnostic (AWS, Azure, GCP, DigitalOcean). Organizations can also choose fully managed SaaS via Fleet Cloud, ensuring complete control over data residency and legal jurisdiction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <code-block-copy-buttons></code-block-copy-buttons>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
